.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

.header {
  font-size: 24px;
  margin: 50px 0;
  color: #212121;
}