.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}
.postItem {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  background-color: white;
  font-weight: bold;
  color: #555;
  outline: none;
  padding: 10%;
  resize: none;
}

.controlButtons {
  display: flex;
}
.controlButtons .postItemControl {
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  margin: 1% 10px;
  border-radius: 50%;
  transition: 0.1s ease-in all;
  cursor: pointer;
}
.postItemControl:hover {
  -webkit-box-shadow: 0px 9px 50px -12px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 9px 50px -12px rgba(199, 199, 199, 1);
  box-shadow: 0px 9px 50px -12px rgba(199, 199, 199, 1);
}

.postItemColor1 {
  background-color: cornflowerblue;
}
.postItemColor2 {
  background-color: darkblue;
}
.postItemColor3 {
  background-color: crimson;
}
.postItemColor4 {
  background-color: darkgreen;
}
.postItemColor5 {
  background-color: darkcyan;
}
.postItemColor6 {
  background-color: black;
}
.postItemColor7 {
  background-color: teal;
}
.postItemColor8 {
  background-color: tan;
}
.postItemColor9 {
  background-color: chocolate;
}
.postItemColor10 {
  background-color: yellowgreen;
}
.postItemColor11 {
  background-color: blueviolet;
}
.postItemColor12 {
  background-color: snow;
}
