.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.btn {
    justify-content: center
}
.btnSwitch{
    justify-content: center;
    text-align: center;
}