:root {
  --placehoder-color: #B6B7BB;
  --bg-icon: #E9EAED;
  --text-color: #212121;
  --white: #ffffff;
}

.postInputContainer {
  display: flex;
  width: 100%;
  height: 150px;
  background: var(--white);
  position: relative;
  margin-bottom: 7px;
}

.postInputContainer .profilePicture {
  display: block;
  width: 40px;
  height: 40px;
  margin: 15px;
  border-radius: 3px; 
  overflow: hidden;
}

.postInputContainer .profilePicture img {
  width: 100%;
  height: 100%;
}

.postInputContainer .postInput {
  display: flex;
  width: calc(100% - 56px);
  height: 100%;
}

.postInputContainer .postInput .postTextarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background: transparent;
}

.postInputContainer .postInput .postTextarea::placeholder {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: var(--placehoder-color)
}

.postInputContainer .postInput .postTextarea:-ms-input-placeholder{
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: var(--placehoder-color)
}

.postInputContainer .postInput .postTextarea::-ms-input-placeholder{
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: var(--placehoder-color)
}

.postInputContainer .postInput textarea:focus {
  outline: none;
}

.postInputContainer .emoji {
  position: absolute;
  width: 18px;
  height: 18px;
  background: var(--bg-icon);
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  box-shadow: 0px 0px 3px -1px var(--bg-icon);
  cursor: pointer;
}

.postInputContainer .emoji img {
  width: 100%;
  height: 100%;
}
